<!--<a class="menubar-link menubar" (click)="openSidebar()"><i class="pi pi-bars"></i></a>

<app-sidebar *ngIf="visible" (sidebarClosed)="closeSidebar()"></app-sidebar>-->


<div class="Home" style="width: 1440px; height: 1024px; position: relative; background: #FFFDF5">
  <div class="Main" style="width: 1028.48px; height: 333px; left: 206px; top: 179px; position: absolute">
    <div class="PainelEstoque" style="width: 421.48px; height: 125px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle6" style="width: 421.48px; height: 125px; left: 0px; top: 0px; position: absolute; background: #E7F1A8; border-radius: 10px"></div>
      <div class="Estoque" style="left: 8px; top: 10px; position: absolute; text-align: center; color: #364C84; font-size: 36px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Estoque</div>
      <div class="Frame" style="width: 125px; height: 125px; left: 288px; top: 0px; position: absolute">
        <div class="Vector" style="width: 57.29px; height: 31.25px; left: 33.85px; top: 33.85px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 62.50px; height: 31.25px; left: 31.25px; top: 78.12px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 93.75px; height: 67.71px; left: 15.62px; top: 15.63px; position: absolute; border: 4px #364C84 solid"></div>
      </div>
    </div>
    <div class="PainelOrganizacao" style="width: 421.48px; height: 125px; left: 0px; top: 208px; position: absolute">
      <div class="Rectangle6" style="width: 421.48px; height: 125px; left: 0px; top: 0px; position: absolute; background: #E7F1A8; border-radius: 10px"></div>
      <div class="OrganizaO" style="left: 8px; top: 10px; position: absolute; color: #364C84; font-size: 36px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Organização</div>
      <div class="Frame" style="width: 125px; height: 125px; left: 288px; top: 0px; position: absolute">
        <div class="Vector" style="width: 104.17px; height: 52.08px; left: 10.42px; top: 57.29px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 83.33px; height: 20.83px; left: 20.83px; top: 36.46px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 62.50px; height: 20.83px; left: 31.25px; top: 15.62px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 41.67px; height: 10.42px; left: 41.67px; top: 78.12px; position: absolute; border: 4px #364C84 solid"></div>
      </div>
    </div>
    <div class="PainelPrazos" style="width: 421.48px; height: 125px; left: 607px; top: 0px; position: absolute">
      <div class="Rectangle6" style="width: 421.48px; height: 125px; left: 0px; top: 0px; position: absolute; background: #E7F1A8; border-radius: 10px"></div>
      <div class="Prazos" style="left: 8px; top: 10px; position: absolute; color: #364C84; font-size: 36px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Prazos</div>
      <div class="Frame" style="width: 125px; height: 125px; left: 290px; top: 0px; position: absolute">
        <div class="Vector" style="width: 62.50px; height: 10.42px; left: 31.25px; top: 10.42px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 41.67px; height: 20.83px; left: 41.67px; top: 67.71px; position: absolute; border: 5px #364C84 solid"></div>
        <div class="Vector" style="width: 88.54px; height: 0px; left: 18.23px; top: 41.67px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 98.96px; height: 98.96px; left: 13.02px; top: 15.62px; position: absolute; border: 4px #364C84 solid"></div>
        <div class="Vector" style="width: 93.75px; height: 0px; left: 15.62px; top: 41.67px; position: absolute; border: 4px #364C84 solid"></div>
      </div>
    </div>
  </div>
  <div class="Header" style="width: 1440px; height: 69px; left: 0px; top: 0px; position: absolute">
    <div class="Header" style="width: 1440px; height: 69px; left: 0px; top: 0px; position: absolute; background: #FFFDF5"></div>
    <div class="IconMenu" style="width: 30px; height: 23px; left: 37px; top: 23px; position: absolute">
      <div class="Rectangle2" style="width: 30px; height: 5px; left: 0px; top: 0px; position: absolute; background: #364C84; border-radius: 30px"></div>
      <div class="Rectangle4" style="width: 30px; height: 5px; left: 0px; top: 9px; position: absolute; background: #364C84; border-radius: 30px"></div>
      <div class="Rectangle5" style="width: 30px; height: 5px; left: 0px; top: 18px; position: absolute; background: #364C84; border-radius: 30px"></div>
    </div>
    <div class="Logo" style="width: 220px; height: 46px; left: 610px; top: 12px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">Logo</div>
    <div class="BotaoLogin" style="width: 93px; height: 44px; left: 1311px; top: 15px; position: absolute">
      <div class="Rectangle6" style="width: 93px; height: 44px; left: 0px; top: 0px; position: absolute; background: #364C84; border-radius: 10px"></div>
      <div class="Login" style="width: 60px; height: 15px; left: 17px; top: 14px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Login</div>
    </div>
  </div>
  <div class="Footer" style="width: 1219px; height: 113px; left: 113px; top: 872px; position: absolute">
    <div class="FooterDivider" style="width: 1120px; height: 2px; left: 47px; top: 0px; position: absolute; background: #95B1EE"></div>
    <div class="Logo" style="width: 90px; height: 45px; left: 0px; top: 54px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">Logo</div>
    <div class="Rectangle7" style="width: 142px; height: 42px; left: 536px; top: 68px; position: absolute; background: #E7F1A8; border-radius: 30px"></div>
    <div class="Frame" style="width: 30px; height: 30px; left: 555px; top: 74px; position: absolute">
      <div class="Vector" style="width: 10px; height: 5px; left: 2.50px; top: 21.25px; position: absolute; border: 1.50px #364C84 solid"></div>
      <div class="Vector" style="width: 21.25px; height: 25px; left: 6.25px; top: 2.50px; position: absolute; border: 1.50px #364C84 solid"></div>
    </div>
    <div class="Frame" style="width: 30px; height: 30px; left: 630px; top: 74px; position: absolute">
      <div class="Vector" style="width: 21.25px; height: 22.50px; left: 4.38px; top: 5px; position: absolute; border: 1.50px #364C84 solid"></div>
      <div class="Vector" style="width: 0px; height: 2.50px; left: 10px; top: 2.50px; position: absolute; border: 1.50px #364C84 solid"></div>
      <div class="Vector" style="width: 0px; height: 2.50px; left: 20px; top: 2.50px; position: absolute; border: 1.50px #364C84 solid"></div>
      <div class="Vector" style="width: 5px; height: 5px; left: 12.52px; top: 9.37px; position: absolute; border: 1.50px #364C84 solid"></div>
      <div class="Vector" style="width: 9.98px; height: 5.04px; left: 10px; top: 22.10px; position: absolute; border: 1.50px #364C84 solid"></div>
    </div>
    <div class="SobreNS" style="width: 63px; height: 15px; left: 1140px; top: 98px; position: absolute; text-align: center; color: #364C84; font-size: 16px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Sobre nós</div>
    <div class="DocumentaO" style="width: 95px; height: 15px; left: 1124px; top: 64px; position: absolute; text-align: center; color: #364C84; font-size: 16px; font-family: League Spartan; font-weight: 400; word-wrap: break-word">Documentação</div>
  </div>
</div>
