<div class="pedidos-section" style="margin-left: 300px; height: auto">
    <h2>Pedidos</h2>
    <div class="pedidos-container">
        <div class="pedido">
            <h4>Cliente 1</h4>
            <p>Endereço: .................</p>
            <div class="btn"><button class="btn-detalhes">Detalhes</button></div>
        </div>
        <div class="pedido">
            <h4>Cliente 1</h4>
            <p>Endereço: .................</p>
            <div class="btn"><button class="btn-detalhes">Detalhes</button></div>
        </div>
        <div class="pedido">
            <h4>Cliente 1</h4>
            <p>Endereço: .................</p>
            <div class="btn"><button class="btn-detalhes">Detalhes</button></div>
        </div>
        <div class="pedido">
            <h4>Cliente 1</h4>
            <p>Endereço: .................</p>
            <div class="btn"><button class="btn-detalhes">Detalhes</button></div>
        </div>
    </div>
    <div class="btn-calculo"><button id="btn-calculo">Calcular Rota</button></div>
</div>

<div class="map-section" style="margin-left: 300px; height: auto">
    <h2>Mapa</h2>
    <div class="map-container">
        <div class="map-frame">
            <div id="map"><app-map/></div>
        </div>
    </div>
</div>
