* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: #06260b;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #81a624, #9ac334);
}

.form-container {
  width: 400px;
  height: 500px;
  background-color: #fafcf0;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #06260b;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

}

button {
  height: 60px;
  background-color: #9ac334;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  margin: 20px 0;
}

button:hover {
  cursor: pointer;
  background-color: #81a624;
}

.link-senha {
  margin: 20px 10px;
  text-align: end;
}

.link-senha a {
  color: #06260b;
}

.link-senha a:hover {
  cursor: pointer;
  color: #81a624;
}

.divider {
  width: 400px;
  height: .5px;
  background-color: #F5EFEB;
  margin: 30px 0;
}

.criar-conta {
  display: flex;
  flex-direction: row;
}

.link-conta, p {
  color: #F5EFEB;
  margin: 20px 10px;
}

.link-conta {
  color: #329fe8;
}

.link-conta:hover {
  cursor: pointer;
  color: #007AD9FF;
}
