
<div class="container">
    <app-left-bar/>
    <div class="main-clientes">
        <div class="cliente-cadastro">
            <div class="p-grid p-dir-col p-align-center">
                <div class="p-col-12 p-md-6">
                    <h2>Cadastro de Usuário</h2>
                    <p>Preencha os dados abaixo para se cadastrar</p>
                    <div class="form-container">
                        <form (ngSubmit)="cadastrarCliente()">
                            <!-- Nome -->
                            <div class="p-field">
                                <label for="nome">Nome <span class="obrigatorio">*</span></label>
                                <input id="nome" type="text" pInputText [(ngModel)]="cliente.nome" name="nome" required />
                            </div>

                            <!-- E-mail -->
                            <div class="p-field">
                                <label for="email">E-mail <span class="obrigatorio">*</span></label>
                                <input id="email" type="email" pInputText [(ngModel)]="cliente.email" name="email" required />
                            </div>

                            <!-- Telefone -->
                            <div class="p-field">
                                <label for="telefone">Telefone <span class="obrigatorio">*</span></label>
                                <input id="telefone" type="text" pInputText [(ngModel)]="cliente.telefone" name="telefone" required />
                            </div>

                            <!-- Endereço -->
                            <h3>Endereço</h3>



                            <!-- CEP -->
                            <div class="p-field">
                                <label for="cep">CEP <span class="obrigatorio">*</span></label>
                                <input id="cep" type="text" pInputText [(ngModel)]="cliente.cep" name="cep" required />
                                <button type="button" style="border: none; border-radius: 4px; padding: 5px; background-color: #9ac334;" (click)="searchCoordinates(cliente.cep)">Buscar CEP</button>
                            </div>
                            <p *ngIf="semCep" style="font-size: 16px; margin: 10px 0; color: darkred">{{semCep}}</p>
                            <!-- Rua -->
                            <div class="p-field">
                                <label for="rua">Logradouro <span class="obrigatorio">*</span></label>
                                <input id="rua" type="text" pInputText [(ngModel)]="cliente.logradouro" name="rua" required />
                            </div>

                            <!-- Número -->
                            <div class="p-field">
                                <label for="numero">Número <span class="obrigatorio">*</span></label>
                                <input id="numero" type="text" pInputText [(ngModel)]="cliente.numero" name="numero" required />
                            </div>

                            <!-- Bairro -->
                            <div class="p-field">
                                <label for="bairro">Bairro <span class="obrigatorio">*</span></label>
                                <input id="bairro" type="text" pInputText [(ngModel)]="cliente.bairro" name="bairro" required />
                            </div>

                            <div class="map-container-2">
                                <div class="map-frame-2">
                                    <div id="map-2"><app-map-marker/></div>
                                </div>
                            </div>

                            <p *ngIf="location" style="font-size: 16px">Latitude: {{location?.lat}};   Longitude: {{location?.lng}}</p>

                            <!-- Botão de Submit -->
                            <button pButton type="submit" label="Cadastrar" icon="pi pi-check"></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>