
<div class="container">
    <app-left-bar/>
    <div class="main-clientes">
        <div class="clientes-lista">

            <h3>Clientes</h3>
            <div class="lista">
                <p-table [value]="clientes" [paginator]="true" [rows]="10" [filterDelay]="300">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">
                                Nome <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">
                                Logradouro <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th>
                                Realizar Pedido
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cliente>
                        <tr>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.logradouro }}</td>
                            <td><button pButton type="submit" label="Pedido" icon="pi pi-box" style="margin-left: 10px" (click)="adicionarAListaDePedidos(cliente)"></button></td>
                            <td>
                                <button pButton type="submit" label="Detalhes" icon="pi pi-info-circle"></button>

                                <button pButton type="submit" label="Excluir" icon="pi pi-trash" style="margin-left: 10px"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
            <div class="botao-area-cadastro">
                <button pButton type="submit" label="Cadastrar Cliente" icon="pi pi-plus" (click)="cadastrarClientes()"></button>
            </div>

            <h3>Pedidos do Dia</h3>
            <div class="lista-pedidos">
                <p-table [value]="listaDePedidos" [paginator]="true" [rows]="5" [filterDelay]="300">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">
                                Nome <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">
                                Endereço <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th>
                                Ações

                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pedido>
                        <tr>
                            <td>{{ pedido.name }}</td>
                            <td>{{ pedido.category }}</td>
                            <td>
                                <button pButton type="submit" label="Excluir" icon="pi pi-trash" (click)="removerDaListaDePedidos(pedido)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="botao-confirmar-pedidos">
                    <button *ngIf="listaDePedidos.length != 0" pButton type="submit" label="Confirmar Pedidos" icon="pi pi-check-circle" (click)="confirmarPedidos()"></button>
                </div>
            </div>
        </div>
    </div>
</div>