<div class="sidebar-container">

  <div class="sidebar-header">
    <a (click)="closeSidebar()"><div class="exit-icon icon"><i class="pi pi-times" style="font-size: 1.5rem; color: var(--light-gray)"></i></div></a>
    <div class="logo"><img src="favicon.ico" alt="Logo"></div>
  </div>

  <div class="sidebar-content">

    <a class="link"><div class="content-item item">
      <div class="item-icon icon">
        <div class="home-icon icon"><i class="pi pi-home" style="font-size: 1.5rem; color: var(--light-gray)"></i></div>
      </div>
      <div class="item-text text">
        <p>Página Inicial</p>
      </div>
    </div></a>

    <a class="link"><div class="content-item item">
      <div class="item-icon icon">
        <div class="database-icon icon"><i class="pi pi-database" style="font-size: 1.5rem; color: var(--light-gray)"></i></div>
      </div>
      <div class="item-text text">
        <p>Dashboard</p>
      </div>
    </div></a>

    <a class="link"><div class="content-item item">
      <div class="item-icon icon">
        <div class="truck-icon icon"><i class="pi pi-truck" style="font-size: 1.5rem; color: var(--light-gray)"></i></div>
      </div>
      <div class="item-text text">
        <p>Caminhões</p>
      </div>
    </div></a>

    <a class="link"><div class="content-item item">
      <div class="item-icon icon">
        <div class="box-icon icon"><i class="pi pi-box" style="font-size: 1.5rem; color: var(--light-gray)"></i></div>
      </div>
      <div class="item-text text">
        <p>Estoque</p>
      </div>
    </div></a>

  </div>

  <div class="sidebar-footer">
    <!--<a class="link"><div class="footer-item item">
      <div class="item-icon icon">
        <div class="user-icon icon"><i class="pi pi-user" style="font-size: 1rem; color: var(--light-gray)"></i></div>
      </div>
      <div class="item-text text" style="font-size: 16px">
        <p>Perfil</p>
      </div>
    </div></a>-->

    <div class="button"><p-button label="Login" styleClass="login-button"></p-button></div>
  </div>

</div>
